@use "../01-settings/variables" as *;
@use "../02-tools/mixins" as *;

.t-job-offers {
  text-align: center;

  @include medium-up {
    text-align: left;
  }

  &__intro {
    padding-bottom: $grid-base * 7;
    padding-top: $grid-base * 7;
  }

  &__intro-left {
    margin-bottom: $grid-base * 3;

    @include medium-up {
      margin-bottom: 0;
    }
  }

  &__intro-right {
    @include medium-up {
      text-align: right;
    }
  }

  &__offers {
    padding-bottom: $grid-base * 3;
  }

  &__item {
    margin-bottom: $grid-base * 2;
  }
}
