@use "../01-settings/variables" as *;
@use "../02-tools/mixins" as *;

.t-site-header {
  margin-bottom: $grid-base * 2;
  margin-top: $grid-base * 2;

  &__menu {
    margin-top: $grid-base * 2;

    @include large-up {
      margin-top: 0;
      text-align: right;
    }
  }

  &__nav-button {
    @include large-up {
      margin-right: 0;
    }
  }

  &__hero {
    padding-bottom: $grid-base * 7;
    padding-top: $grid-base * 4;
  }

  &__hero-image {
    margin-bottom: $grid-base * 3;

    @include medium-up {
      margin-bottom: 0;
    }
  }

  &__intro-text {
    color: $primary-color;
    font-size: $font-size-4;
    font-weight: bold;
    letter-spacing: -0.06rem;
  }

  &__buttons {
    margin-top: $grid-base * 5;
  }

  &__first-button {
    margin-right: $grid-base * 2;
  }
}
