@use "../01-settings/variables" as *;

.c-btn {
  border: none;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-8;
  font-weight: 700;
  line-height: $line-height-sm;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &--primary {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: lighten($primary-color, 15%);
      color: $white;
    }
  }

  &--accent {
    background-color: $orange-accent;
    color: $white;

    &:hover {
      background-color: lighten($orange-accent, 15%);
      color: $white;
    }
  }

  &--light {
    background-color: $primary-light-color;
    border: 0.5px solid $gray-light;
    color: $white;

    &:hover {
      background-color: lighten($primary-light-color, 15%);
      color: $white;
    }
  }

  &--small {
    font-size: $font-size-7;
    font-weight: normal;
    padding: 0.5rem 0.85rem;
  }
}
