@use "../01-settings/variables" as *;
@use "../02-tools/mixins" as *;

.c-heading {
  color: $gray-dark-up;
  line-height: $line-height-sm;
  margin-bottom: calc($grid-base / 2);

  &--level1 {
    font-size: $font-size-2;
    letter-spacing: $letter-spacing-reduced;

    @include large-up {
      font-size: $font-size-1;
    }
  }

  &--level2 {
    font-size: $font-size-3;

    @include large-up {
      font-size: $font-size-2;
    }
  }

  &--level3 {
    font-size: $font-size-5;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--white {
    color: $white;
  }
}
