@use "../01-settings/variables" as *;
@use "../02-tools/mixins" as *;

.c-nav {
  &__item {
    display: block;
    font-size: $font-size-7;
    padding-bottom: $grid-base * 0.75;
    padding-top: $grid-base * 0.75;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      color: $primary-color;
      font-weight: bold;
    }

    @include large-up {
      display: inline-block;
      margin-left: $grid-base * 2;
      margin-right: $grid-base * 2;
      width: auto;
    }
  }
}
