@use "../01-settings/variables" as *;

//Proste klasy pomocnicze obejmujące tylko jedną właściwość, np. margines dolny:
.u-mb-1 {
  margin-bottom: $grid-base;
}

.u-mb-2 {
  margin-bottom: $grid-base * 2;
}

.u-mb-3 {
  margin-bottom: $grid-base * 3;
}
